@supports (-webkit-appearance: none) {
  *::-webkit-scrollbar-track {
    background: transparent; /* track color */
  }

  /* target the scrollbar track (background) */
  *::-webkit-scrollbar {
    width: 0px; /* Hide scrollbar */
    height: 0px;
    background: transparent;
    overflow-x: hidden;
  }

  /* target the scrollbar thumb for light mode */
  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  /* remove buttons */
  *::-webkit-scrollbar-button {
    display: none;
  }
}

@supports (-moz-appearance: none) {
  /* firefox specific styles */

  /* adjust scrollbar width */
  * {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
}

/* Global invisible scrollbar styles for all browsers */
* {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  display: none;
}
